/* References: Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification for details on configuring
    this project to bundle and minify static web assets. w3school.com/css was also used as a resource to help with the styling of the project.
*/

/* This the the style sheet for the entire project.*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Style for clickable links */
a {
    color: #0c6b40;
}

a:hover {
    color: #ffda06
}

/* Style for buttons */
.btn-primary {
    color: #ffda06;
    background-color: #0c6b40;
    border-color: #0c6b40;
}

.btn-primary:hover {
    color: #ffda06;
    background-color: #0e8f55;
    border-color: #0e8f55;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Arial
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.grid {
    stroke: lightgray;
}


/* Style for tables */
table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%
}

table td, table th {
    border: 1px solid #e5e5e5;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #dddddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0c6b40;
    color: white;
}

table th a {
    color: #ffda06
}

/* Style for tabs*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #0c6b40;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffda06
}

.tab button:hover {
    background-color: #0e8f55;
}

.tab button.active {
    background-color: #0e8f55;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* log in style */
#login-header {
    margin-top: 20px;
}

#login-username {
    margin-top:20px;
    margin-bottom:20px;
}

#login-password {
    margin-bottom: 20px;
}


.shadow {
    background: #000;
    border-radius: 12px 12px 4px 4px;
    box-shadow: 0 0 20px 10px #000;
    height: 12px;
    margin: 30px auto;
    opacity: 0.2;
    width: 270px;
}

.form-login {
    background-image: url(/images/loginborder.png);
    background-size: 295px 255px;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 257px;
    margin: 20px auto 0;
    width: 298px;
    text-align: center;
}
