@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="site.css">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home </title>
    <header>
        <h1> University of Saskatchewan </h1>
        <h2> Awards, Scholarships and Bursaries </h2>
    </header>
</head>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Home')" id="defaultOpen"> Home </button>
    <button class="tablinks" onclick="openTab(event, 'Applications')">Applications </button>
    <button class="tablinks" onclick="openTab(event, 'Profile')"> Profile</button>
</div>

<div id="Home" class="tabcontent">
    <h4> News and Dates </h4>
    <h5> <a asp-page="/Submissions/Index">Learn More</a> </h5>
    <h4> How to apply </h4>
    <h5> <a asp-page="/Users/Create">Register!</a> </h5>
    <h4> Search for awards </h4>
    <h5> Search through database of awards and scholarships </h5>
    <form action="./StudentView_Scholarships">
          <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>

<div id="Applications" class="tabcontent">
    <h3>Applications</h3>
    <p>View your applications here</p>
</div>

<div id="Profile" class="tabcontent">
    <h3>Profile</h3>
    <p>Edit your profile</p>
</div>

<script>
	function openTab(evt, tabName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
	}
	document.getElementById("defaultOpen").click();
</script>


<footer>
    <h4>
        Scholarship Committee <br>
        Contact us: 123-456-7889 <br>
        Address: Saskatoon, Corman Park No. 344, SK <br>
        Office hours: Monday - Friday: 9:00 - 16:00
    </h4>
</footer>
